div#five-day-forecast-container {
  display: flex;
  justify-content: center;
}

div#five-day-forecast {
  width: 930px;
  border: 1px solid goldenrod;
}

div#five-day-container {
  display: flex;
  flex-direction: column;
}

div#day {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 0 8px;
}

div#day p#day-date {
  min-width: 70px;
}

div#day p#day-conditions {
  min-width: 120px;
}

div#day p#day-max {
  min-width: 42px;
}

div#day p#day-min {
  min-width: 42px;
  text-align: end;
}

#five-day-title {
  font-size: 18px;
  padding-left: 8px;
  padding-top: 8px;
}
