div#nav-bar {
  border: 1px solid red;
  height: 40px;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

div#nav-bar .material-icons,
div#nav-bar #metrics-toggle {
  font-size: 18px;
  width: 25px;
  height: 25px;
}

div#nav-bar #logo {
  font-size: 24px;
  font-weight: 600;
}

div#search-container {
  position: absolute;
  top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#search-container > * {
  height: 25px;
}

div#search-container > #close-btn {
  width: 25px;
}

div#serch-container > input {
  font-size: 16px;
}
