div#nav-container {
  display: flex;
  justify-content: center;
  background-color: #003049;
  height: 60px;
}

div#nav-bar {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 930px;
}

div#nav-bar .material-icons,
div#nav-bar #unit-toggle {
  font-size: 18px;
  width: 25px;
  height: 25px;
}

div#nav-bar > button {
  border: none;
  background-color: #003049;
  color: aliceblue;
  outline: none;
}

div#nav-bar .material-icons {
  margin-right: 25px;
}

div#nav-bar > button#unit-toggle {
  background-color: #003049;
  border-radius: 16px;
  border: 1px solid aliceblue;
  width: 50px;
}

div#nav-bar #logo {
  font-size: 24px;
  font-family: 'Potta One', system-ui;
  font-weight: 200;
  color: aliceblue;
}
